<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <wrapper>
        <top>
            <header>
                <a href="catalog.html"><button class="catalog-button" type="button">Каталог</button></a>
            </header>
            <main>
                <div class="cart">
                    <ul>
                        <li v-for="item in cart">
                            <h3>{{item.title}}</h3>
                            <input class="qty" type="number" v-model="item.qty" />
                        </li>
                    </ul>
                </div>
                <div class="total">Общая стоимость товаров: {{total}} рублей</div>

            </main>
        </top>
        <footer>
            <div class="copy">&copy;&nbsp;2019 Brand All Rights Reserved.</div>
        </footer>
    </wrapper>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script.js"></script>

</body>
</html>