<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <wrapper>
        <top>
            <header>
                <a href="cart.html"><button class="cart-button" type="button">Корзина</button></a>
            </header>
            <main>
                <h1>Каталог товаров</h1>
                <input type="text" v-model="query" name="query" placeholder="Поиск"><button @click="handleSearchClick">Поиск</button>
                <div class="catalog">
                    <div v-for="item in filteredItems" class="item">
                        <h3>{{this.title}}</h3>
                        <p>{{this.price}}</p>
                        <button class="buy" @click="handleBuyClick(item)">Buy</button>
                    </div>
                </div>

            </main>
        </top>
        <footer>
            <div class="copy">&copy;&nbsp;2019 Brand All Rights Reserved.</div>
        </footer>
    </wrapper>




    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</body>
</html>